:host {
  display: block;
}

.otp-input {
  height: 60px;
  width: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  &:not(:first-child) {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    color: white;
    background: transparent;
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0.4);
  }

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
}
