<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">
        Reset password
      </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="auth-wrapper p-0">
        <h3 class="mb-4 text-center">
          Please provide a new password for your account
        </h3>
        <form
          spellcheck="false"
          autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
        >
          <ui-input
            type="password"
            placeholder="Enter new password"
            name="password"
            class="mb-3"
            formControlName="password"
          >
          </ui-input>
          <ui-input
            type="password"
            placeholder="Confirm your password"
            name="confirmPassword"
            class="mb-3"
            formControlName="confirmPassword"
          >
          </ui-input>
          <ui-input
            type="text"
            placeholder="Enter reset token"
            name="token"
            class="mb-3"
            formControlName="token"
          >
          </ui-input>
          <div>
            <button
              type="submit"
              class="form-control btn btn-primary submit px-3"
            >
              Reset password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
