.blank-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background: rgb(246, 247, 250);
  background: linear-gradient(144deg, rgba(246, 247, 250, 1) 0%, rgba(169, 181, 192, 1) 48%, rgba(6, 19, 44, 1) 100%);
  color: white;
  text-align: center;

  .number {
    font-weight: 700;
    font-size: max(10vw, 100px);
  }

  p {
    font-size: 20px;
  }
}
