<form
  *ngIf="form"
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field>
    <mat-label>Zip code</mat-label>
    <input
      matInput
      required
      placeholder="Insert name"
      formControlName="name"
    >
  </mat-form-field>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
