<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            Customer
          </th>
          <th>
            Shipper
          </th>
          <th>
            Order status
          </th>
          <th>
            Amount
          </th>
          <th>
            Payment Status
          </th>
          <th>
            Method
          </th>
          <th>
            Date
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (source$ | async).data; trackBy: trackDataTable">
          <td data-name="Coupon name">
            {{ item.id }}
          </td>
          <td>
            {{ item.recipientName }}
          </td>
          <td>
            {{ item.shipperId }}
          </td>
          <td>
            {{ item.orderStatusId }}
          </td>
          <td>
            {{ item.finalAmount }}
          </td>
          <td>
            {{ item.paymentId }}
          </td>
          <td>
            {{ item.paymentMethod }}
          </td>
          <td>
            {{ item.updatedAt }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <a
                mat-icon-button
                color="primary"
                [routerLink]="['/']"
              >
                <mat-icon>visibility</mat-icon>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ui-paginator
      [length]="tableData.length"
      (pageChange)="changePage($event)"
    ></ui-paginator> -->
  </div>
</div>
