.form-group {
  position: relative;
}

.form-control {
  height: 50px;
  color: white;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: white;
    background: transparent;
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0.4);
  }

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9);
}
