.data-table-container {
  thead tr {
    background: #f1f5f8;
  }

  .table th,
  .table td {
    vertical-align: middle;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .table th {
    font-weight: 500;
  }

  .grid-table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;
  }

  .grid-table :where(img, video) {
    border-radius: 0.25rem;
    width: 50px;
    height: 50px;
    min-height: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgb(0 0 0 / 32%);
  }

  .grid-table td {
    --bg-opacity: 1;

    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    box-shadow: 20px 3px 20px #0000000b;
    min-width: 150px;

    &:first-child {
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
    }
  }

  @media (max-width: 500px) {
    .table thead {
      display: none !important;
    }

    .table tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    td {
      position: relative;
    }

    .table tr {
      margin-bottom: 15px;
    }

    .table td {
      text-align: right;
      padding-left: 40%;
    }

    .table td::before {
      content: attr(data-name);
      position: absolute;
      left: 0;
      width: 50%;
      text-align: left;
      padding-left: 15px;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
