@use "zIndexes";
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~bootstrap/scss/bootstrap-grid.scss";
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
);
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

@import "loading";
@import "form";
@import "table";
@import "typo";
// @import "theme";

html {
  box-sizing: border-box;
  block-size: 100%;
}
*,
*:before,
*::after {
  box-sizing: inherit;
}

* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

:root {
  --standard-space: 10px;
  --active-color: rgb(29, 155, 240);
}

html,
body {
  height: 100%;
  /* To prevent pull-down-to-refresh in Mobile Chrome */
  overscroll-behavior-y: contain;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-block-size: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

.cdk-overlay-container {
  z-index: zIndexes.$cdkOverlay;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
  }
}
