<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="createCoupon()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
  <button
    mat-raised-button
    color="primary"
  >
    Export Material Table
  </button>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>

<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Image url
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (source$ | async).data; trackBy: trackDataTable">
          <td data-name="Coupon name">
            {{ item.name }}
          </td>
          <td data-name="Coupon name">
            {{ item.medias }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-icon-button
                [matMenuTriggerFor]="tableMenu"
                [matMenuTriggerData]="{data: item}"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ui-paginator
      [length]="tableData.length"
      (pageChange)="changePage($event)"
    ></ui-paginator> -->
  </div>
</div>

<mat-menu #tableMenu="matMenu">
  <ng-template
    matMenuContent
    let-data="data"
  >
    <button
      mat-menu-item
      type="button"
      (click)="editCoupon(data)"
    >
      <mat-icon>visibility</mat-icon>
      <span>Details</span>
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="editCoupon(data)"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      type="button"
      disabled
      (click)="editCoupon(data)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
