<div
  *ngFor="let notification of notifications; trackBy: trackNotification"
  [@flyInOut]="'in'"
  [ngClass]="[notification.type, notificationConfig.className || 'notification']"
  (mouseenter)="pause(notification)"
  (mouseleave)="unPause(notification)"
>
  <div class="title">
    <div>
      {{ notification.title }}
    </div>
    <button
      mat-icon-button
      (click)="remove(notification.id)"
      matTooltip="Close the notification"
      matTooltipPosition="before"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="message">
    {{ notification.message }}
  </div>
  <div
    *ngIf="notification.pauseableTimer"
    class="pauseable-progress"
    [style.width]="(notification.pauseableTimer.remainingPercent | async)+'%'"
  >
  </div>
</div>
