<label class="fab">
  <input
    type="checkbox"
    class="fab-checkbox"
  />
  <span
    role="button"
    class="fab-dots"
  >
    <span class="dot dot-1"></span>
    <span class="dot dot-2"></span>
    <span class="dot dot-3"></span>
  </span>
  <ul class="fab-buttons">
    <li class="fab-buttons__item">
      <a
        href="#"
        class="fab-buttons__link"
        data-tooltip="Facebook"
      >
        <i class="icon-material icon-material_fb"></i>
      </a>
    </li>
    <li class="fab-buttons__item">
      <a
        href="#"
        class="fab-buttons__link"
        data-tooltip="Twitter"
      >
        <i class="icon-material icon-material_tw"></i>
      </a>
    </li>
    <li class="fab-buttons__item">
      <a
        href="#"
        class="fab-buttons__link"
        data-tooltip="Linkedin"
      >
        <i class="icon-material icon-material_li"></i>
      </a>
    </li>
    <li class="fab-buttons__item">
      <a
        href="#"
        class="fab-buttons__link"
        data-tooltip="Google+"
      >
        <i class="icon-material icon-material_gp"></i>
      </a>
    </li>
  </ul>
</label>
