:host {
  display: block;
  height: 100%;
}

.card-body {
  text-align: center;
}

.bg-white {
  background: white;
}

.text-green {
  color: #6dd400;
}

.text-voilet {
  color: #9475ff;
}

.test-orange {
  color: #ff751a;
}

.text-red {
  color: #fd4e71;
}

.text-dark-blue {
  color: #1a1053;
}

.text-gray {
  color: #817c9b;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 1rem;
}
