<form
  *ngIf="form"
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      required
      placeholder="Insert name"
      formControlName="name"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Email
    </mat-label>
    <input
      matInput
      required
      type="email"
      placeholder="Insert value"
      formControlName="email"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Phone number
    </mat-label>
    <input
      matInput
      required
      type="tel"
      placeholder="Insert value"
      formControlName="phone"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Password
    </mat-label>
    <input
      matInput
      required
      type="text"
      placeholder="Insert value"
      formControlName="password"
    >
  </mat-form-field>
  <ui-media-uploader formControlName="avatar"></ui-media-uploader>
  <div class="mt-2">
    <!-- <mat-checkbox formControlName="isActive">Active</mat-checkbox> -->
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
