<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="createOrUpdate()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<div class="filter-bar">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="search"
      placeholder="Search with name"
      [ngModel]="search$ | async"
      (ngModelChange)="search$.next($event)"
    />
  </mat-form-field>
</div>
<div>
  <ui-paginator
    [length]="(source$ | async)?.meta?.itemCount"
    (pageChange)="changePage($event)"
  >
  </ui-paginator>
</div>
<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            Customer
          </th>
          <th>
            Driver name
          </th>
          <th>
            Order status
          </th>
          <th>
            Amount
          </th>
          <th>
            Tax
          </th>
          <th>
            Delivery fee
          </th>
          <th>
            Payment status/Method
          </th>
          <th>
            Date
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of (source$ | async)?.data; trackBy: trackDataTable; index as index"
          [@fadeInUpOutDown]="{ value: 'enter', params: { duration: index * 100 + 'ms' } }"
        >
          <td>
            #{{ item.code }}
          </td>
          <td>
            {{ item.recipientName }}
          </td>
          <td>
            <div *ngIf="item.shipper">
              {{ item.shipper.name }}
            </div>
            <button
              *ngIf="!item.shipper"
              mat-icon-button
              type="button"
              aria-label="See details"
              title="Assign shipper"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            Order status
          </td>
          <td>
            {{ item.finalAmount }}
          </td>
          <td>
            {{ item.tax }}
          </td>
          <td>
            {{ item.deliveryFee }}
          </td>
          <td>
            {{ item.paymentId }}
            /
            {{ item.paymentMethod }}
          </td>
          <td [title]="item.updatedAt | date:'short'">
            {{ item.updatedAt | timeAgo }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click)="createOrUpdate(item)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click)="createOrUpdate(item)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click.confirm)="remove(item)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
