:host {
  display: block;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.breadcrumb.breadcrumb--light {
  height: 100%;
  margin-left: 2.5rem;
  padding-left: 2.5rem;
  border-left-width: 1px;
  --border-opacity: 1;
  border-color: #2e51bb;
  border-color: rgba(46, 81, 187, var(--border-opacity));
  --text-opacity: 1;
  color: #c6d4fd;
  color: rgba(198, 212, 253, var(--text-opacity));
}

@media (max-width: 767px) {
  .breadcrumb.breadcrumb--light {
    margin-left: 0;
    padding-left: 0;
    border-left-width: 0;
  }
}

.breadcrumb.breadcrumb--light .breadcrumb--active {
  --text-opacity: 1;
  color: #e8eeff;
  color: rgba(232, 238, 255, var(--text-opacity));
}

.breadcrumb .breadcrumb__icon {
  width: 14px;
  height: 14px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.breadcrumb .breadcrumb--active {
  --text-opacity: 1;
  color: #1c3faa;
  color: rgba(28, 63, 170, var(--text-opacity));
  font-weight: 500;
}

.dark .breadcrumb.breadcrumb--light {
  --border-opacity: 1;
  border-color: #313a55;
  border-color: rgba(49, 58, 85, var(--border-opacity));
  --text-opacity: 1;
  color: #e2e8f0;
  color: rgba(226, 232, 240, var(--text-opacity));
}

.dark .breadcrumb.breadcrumb--light .breadcrumb--active {
  --text-opacity: 1;
  color: #3160d8;
  color: rgba(49, 96, 216, var(--text-opacity));
}

.dark .breadcrumb .breadcrumb--active {
  --text-opacity: 1;
  color: #3160d8;
  color: rgba(49, 96, 216, var(--text-opacity));
}
