<div mat-dialog-content>
  <p>
    {{ data.title }}
  </p>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="data.value"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="reject()"
  >
    Cancel
  </button>
  <button
    mat-button
    [mat-dialog-close]="data.value"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
