<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="add()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

<div class="data-table-container">
  <table class="table grid-table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Updated at
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (source$ | async).data; trackBy: trackDataTable">
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.updatedAt | timeAgo }}
        </td>
        <td>
          <div class="d-flex justify-content-end">
            <button
              mat-icon-button
              [matMenuTriggerFor]="tableMenu"
              [matMenuTriggerData]="{data: item}"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-menu #tableMenu="matMenu">
  <ng-template
    matMenuContent
    let-data="data"
  >
    <button
      mat-menu-item
      type="button"
      (click)="edit(data)"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="remove(data)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
