:host {
  display: block;
}

.DPACt {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  background-color: #eceff1;
  border-width: 0;
  position: relative;
  border-radius: 50%;
  line-height: 1;
  border-style: solid;
}

.DPACt svg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
