<div class="DPACt">
  <svg
    class="DPACtcf"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 112 112">
    <path d="M53.1,18.6h-1.6v-7.7h-1.9v-1l3.5-0.7V18.6z"></path>
    <path d="M61.8,18.6h-6.3v-1.1l3.1-3.4c0.5-0.6,0.9-1,1.1-1.4c0.2-0.3,0.3-0.7,0.3-1c0-0.4-0.1-0.8-0.4-1.1 c-0.2-0.3-0.6-0.4-1-0.4c-0.6,0-1,0.2-1.2,0.5C57,11,56.9,11.4,56.9,12h-1.6c0-0.9,0.3-1.6,0.9-2.2c0.6-0.6,1.4-0.9,2.4-0.9 c0.9,0,1.7,0.2,2.2,0.7c0.5,0.5,0.8,1.2,0.8,2c0,0.6-0.2,1.1-0.5,1.6c-0.3,0.5-0.8,1.1-1.4,1.8l-2.1,2.3h4.3V18.6z"></path>
    <path d="M98.9,55.3h1.1c0.5,0,0.9-0.1,1.1-0.4c0.2-0.3,0.3-0.6,0.3-1.1c0-0.5-0.1-0.8-0.4-1.1 c-0.2-0.2-0.6-0.4-1.1-0.4c-0.4,0-0.8,0.1-1.1,0.4c-0.3,0.2-0.4,0.6-0.4,1h-1.6c0-0.8,0.3-1.4,0.8-1.9c0.6-0.5,1.3-0.7,2.2-0.7 c0.9,0,1.7,0.2,2.2,0.7c0.5,0.5,0.8,1.1,0.8,2c0,0.4-0.1,0.8-0.4,1.2c-0.2,0.4-0.6,0.7-1.1,0.9c0.6,0.2,1,0.5,1.2,0.9 c0.2,0.4,0.4,0.8,0.4,1.3c0,0.9-0.3,1.6-0.9,2.1c-0.6,0.5-1.4,0.7-2.3,0.7c-0.9,0-1.6-0.2-2.2-0.7c-0.6-0.5-0.9-1.1-0.9-2h1.6 c0,0.4,0.1,0.8,0.4,1c0.3,0.3,0.7,0.4,1.1,0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.3,0.4-0.6,0.4-1.1c0-0.5-0.1-0.9-0.4-1.2 c-0.3-0.2-0.7-0.4-1.2-0.4h-1.1V55.3z"></path>
    <path d="M12.1,59.6c0.6,0,1-0.2,1.4-0.6c0.3-0.4,0.5-1,0.5-1.9v-0.2l0,0c-0.2,0.3-0.5,0.5-0.8,0.6 c-0.3,0.1-0.6,0.2-1,0.2c-0.9,0-1.6-0.3-2.2-0.8c-0.5-0.6-0.8-1.4-0.8-2.4c0-1,0.3-1.8,0.9-2.4c0.6-0.6,1.3-0.9,2.2-0.9 c1,0,1.8,0.3,2.4,1c0.6,0.6,0.9,1.6,0.9,2.8v2.2c0,1.2-0.3,2.2-1,2.8c-0.6,0.7-1.5,1-2.5,1c-0.3,0-0.7,0-1-0.1 c-0.3-0.1-0.7-0.2-1-0.3l0.2-1.2c0.3,0.1,0.6,0.2,0.8,0.3C11.4,59.6,11.8,59.6,12.1,59.6z M12.4,56.5c0.4,0,0.7-0.1,1-0.2 c0.3-0.2,0.5-0.4,0.6-0.6v-1c0-0.8-0.1-1.3-0.4-1.7c-0.3-0.4-0.7-0.6-1.2-0.6c-0.4,0-0.8,0.2-1.1,0.6c-0.3,0.4-0.4,0.9-0.4,1.5 c0,0.6,0.1,1.1,0.4,1.5C11.5,56.4,11.9,56.5,12.4,56.5z"></path>
    <path d="M18.7,40.9h-1.6v-7.7h-1.9v-1l3.5-0.7V40.9z"></path>
    <path d="M27.4,37.2c0,1.3-0.3,2.2-0.8,2.8c-0.5,0.6-1.3,1-2.3,1c-1,0-1.7-0.3-2.3-1c-0.6-0.6-0.8-1.6-0.8-2.8v-2.2 c0-1.3,0.3-2.2,0.8-2.8c0.5-0.6,1.3-1,2.3-1c1,0,1.7,0.3,2.3,1c0.6,0.6,0.8,1.6,0.8,2.8V37.2z M25.8,34.8c0-0.8-0.1-1.4-0.4-1.7 c-0.3-0.4-0.6-0.6-1.1-0.6c-0.5,0-0.9,0.2-1.1,0.6c-0.3,0.4-0.4,0.9-0.4,1.7v2.6c0,0.8,0.1,1.4,0.4,1.8c0.3,0.4,0.6,0.6,1.2,0.6 c0.5,0,0.9-0.2,1.1-0.5s0.4-1,0.4-1.8V34.8z"></path>
    <path d="M96.6,37.9h-6.3v-1.1l3.1-3.4c0.5-0.6,0.9-1,1.1-1.4c0.2-0.3,0.3-0.7,0.3-1c0-0.4-0.1-0.8-0.4-1.1 c-0.2-0.3-0.6-0.4-1-0.4c-0.6,0-1,0.2-1.2,0.5c-0.3,0.3-0.4,0.7-0.4,1.3h-1.6c0-0.9,0.3-1.6,0.9-2.2c0.6-0.6,1.4-0.9,2.4-0.9 c0.9,0,1.7,0.2,2.2,0.7c0.5,0.5,0.8,1.2,0.8,2c0,0.6-0.2,1.1-0.5,1.6c-0.3,0.5-0.8,1.1-1.4,1.8l-2.1,2.3h4.3V37.9z"></path>
    <path d="M21.8,76.2c0,0.5-0.1,0.9-0.4,1.3c-0.3,0.4-0.6,0.6-1.1,0.8c0.5,0.2,0.9,0.5,1.2,0.9c0.3,0.4,0.5,0.9,0.5,1.4 c0,0.9-0.3,1.6-0.9,2s-1.3,0.7-2.3,0.7c-1,0-1.7-0.2-2.3-0.7c-0.6-0.5-0.9-1.1-0.9-2c0-0.5,0.1-1,0.4-1.4c0.3-0.4,0.7-0.7,1.3-0.9 c-0.5-0.2-0.8-0.5-1.1-0.8c-0.3-0.4-0.4-0.8-0.4-1.3c0-0.9,0.3-1.5,0.8-2c0.5-0.5,1.2-0.7,2.1-0.7c0.9,0,1.6,0.2,2.1,0.7 C21.5,74.7,21.8,75.4,21.8,76.2z M20.4,80.6c0-0.5-0.1-0.9-0.4-1.1c-0.3-0.3-0.7-0.4-1.1-0.4c-0.5,0-0.9,0.1-1.1,0.4 c-0.3,0.3-0.4,0.7-0.4,1.1c0,0.5,0.1,0.9,0.4,1.1c0.3,0.3,0.7,0.4,1.2,0.4c0.5,0,0.9-0.1,1.1-0.4S20.4,81,20.4,80.6z M20.2,76.3 c0-0.4-0.1-0.8-0.4-1c-0.2-0.3-0.6-0.4-1-0.4c-0.4,0-0.7,0.1-1,0.4c-0.2,0.3-0.4,0.6-0.4,1c0,0.4,0.1,0.8,0.4,1 c0.2,0.3,0.6,0.4,1,0.4c0.4,0,0.7-0.1,1-0.4C20.1,77.1,20.2,76.7,20.2,76.3z"></path>
    <path d="M95.6,78.5h1.2v1.3h-1.2v2.1h-1.6v-2.1H90l0-1l4.1-6.4h1.6V78.5z M91.5,78.5h2.6v-3.9l0,0l-0.1,0.3L91.5,78.5 z"></path>
    <path d="M37.7,88.6c-1.1,1.3-1.9,2.5-2.2,3.5c-0.4,1-0.6,2.3-0.8,3.8l-0.1,1H33l0.1-1c0.2-1.5,0.5-2.8,1-3.9 c0.5-1.1,1.2-2.3,2.1-3.3h-5v-1.3h6.6V88.6z"></path>
    <path d="M34,24.6h-1.6v-7.7h-1.9v-1l3.5-0.7V24.6z"></path>
    <path d="M40.1,24.6h-1.6v-7.7h-1.9v-1l3.5-0.7V24.6z"></path>
    <path d="M79.3,24.6h-1.6v-7.7h-1.9v-1l3.5-0.7V24.6z"></path>
    <path d="M76,92.5l0.5-5.3h5v1.4h-3.7L77.6,91c0.2-0.1,0.4-0.3,0.6-0.3c0.2-0.1,0.5-0.1,0.8-0.1c0.9,0,1.6,0.3,2.1,0.8 c0.5,0.6,0.7,1.4,0.7,2.4c0,0.9-0.3,1.7-0.8,2.3c-0.5,0.6-1.3,0.9-2.3,0.9c-0.9,0-1.6-0.2-2.1-0.7s-0.9-1.1-0.9-2l1.5-0.1 c0,0.5,0.1,0.8,0.4,1.1c0.3,0.3,0.6,0.4,1.1,0.4c0.5,0,0.9-0.2,1.1-0.5c0.3-0.3,0.4-0.8,0.4-1.4c0-0.6-0.1-1.1-0.4-1.4 c-0.3-0.4-0.6-0.5-1.1-0.5c-0.4,0-0.8,0.1-1,0.2c-0.2,0.1-0.4,0.3-0.5,0.6L76,92.5z"></path>
    <path d="M56.4,93.3c0.3,0,0.7,0,1,0.1c0.3,0.1,0.6,0.2,0.8,0.3l-0.3,1.2c-0.2-0.1-0.5-0.2-0.7-0.2 c-0.2-0.1-0.5-0.1-0.8-0.1c-0.6,0-1.2,0.2-1.5,0.7c-0.4,0.5-0.6,1.1-0.6,2v0c0.3-0.2,0.6-0.4,0.9-0.6c0.3-0.1,0.7-0.2,1.1-0.2 c0.9,0,1.5,0.3,2,0.9c0.5,0.6,0.7,1.3,0.7,2.3c0,1-0.3,1.8-0.8,2.4c-0.6,0.6-1.3,0.9-2.2,0.9c-1,0-1.8-0.3-2.4-1 c-0.6-0.7-0.9-1.6-0.9-2.9v-1.8c0-1.3,0.3-2.3,1-3S55.3,93.3,56.4,93.3z M56,97.8c-0.4,0-0.7,0.1-1,0.2c-0.3,0.1-0.5,0.3-0.6,0.6 v0.7c0,0.8,0.2,1.4,0.5,1.9c0.3,0.4,0.7,0.6,1.3,0.6c0.5,0,0.8-0.2,1.1-0.6c0.3-0.4,0.4-0.9,0.4-1.5c0-0.6-0.1-1-0.4-1.4 S56.5,97.8,56,97.8z"></path>
    <path d="M57.5,107.6c0,0.8-0.7,1.5-1.5,1.5s-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5S57.5,106.8,57.5,107.6z M4.5,54.5 C3.7,54.5,3,55.2,3,56s0.7,1.5,1.5,1.5S6,56.8,6,56S5.3,54.5,4.5,54.5z M11,80.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5 s1.5-0.7,1.5-1.5S11.8,80.5,11,80.5z M101,80.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S101.8,80.5,101,80.5z M30,99c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S30.8,99,30,99z M83,99c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5 s1.5-0.7,1.5-1.5S83.8,99,83,99z M107.5,54.5c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S108.3,54.5,107.5,54.5z M56,6 c-0.8,0-1.5-0.7-1.5-1.5S55.2,3,56,3s1.5,0.7,1.5,1.5S56.8,6,56,6z M12.5,30.1c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5 s0.7,1.5,1.5,1.5S12.5,31,12.5,30.1z M102.5,30.1c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5S102.5,31,102.5,30.1z M31.5,11.6c0-0.8-0.7-1.5-1.5-1.5s-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5S31.5,12.5,31.5,11.6z M84.5,11.6c0-0.8-0.7-1.5-1.5-1.5 s-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5S84.5,12.5,84.5,11.6z"></path>
  </svg>
  <svg
    class="DPACth"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 112 112"
    [style.transform]="hoursRotation$ | async"
  >
    <path d="M56,33c0.6,0,1,0.4,1,1v22c0,0.6-0.4,1-1,1s-1-0.4-1-1V34C55,33.4,55.4,33,56,33 M56,31c-1.7,0-3,1.3-3,3v22 c0,1.7,1.3,3,3,3c1.7,0,3-1.3,3-3V34C59,32.3,57.7,31,56,31L56,31z"></path>
  </svg>
  <svg
    class="DPACtm"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 112 112"
    [style.transform]="minutesRotation$ | async"
  >
    <path d="M57,52.1V23c0-0.6-0.4-1-1-1s-1,0.4-1,1v29.1c-1.7,0.4-3,2-3,3.9c0,2.2,1.8,4,4,4s4-1.8,4-4 C60,54.1,58.7,52.6,57,52.1z"></path>
  </svg>
  <svg
    class="DPACts"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 112 112"
    [style.transform]="secondsRotation$ | async"
  >
    <path d="M58,56.5c0-0.8-0.5-1.6-1.2-1.9L56.1,7.5h-0.2l-0.6,47.1c-0.7,0.3-1.3,1-1.3,1.9c0,0.8,0.5,1.5,1.2,1.8L55,66.7 h2l-0.2-8.4C57.5,58,58,57.3,58,56.5z"></path>
  </svg>
</div>
