:host {
  display: block;
  height: 100%;
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background: #000000;
    opacity: 0.3;
    z-index: 1;
  }
}

section {
  padding-top: min(15vh, 150px);
  padding-bottom: min(15vh, 150px);
  height: 100%;
  overflow: hidden auto;
  position: relative;
  z-index: 2;
}
