:host {
  display: block;
  color: #ffffff;
}

.auth-wrapper .social a {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
  transition: 0.3s all ease;

  &:hover,
  &:focus {
    background: #000;
    color: #fff;
    border-color: #000;
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;

    &:after {
      content: "\f0c8";
      font-family: "FontAwesome";
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      font-size: 20px;
      margin-top: -4px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
    color: #fbceb5;
  }
}

.checkbox-primary {
  color: #fbceb5;
}
