<div class="blank-page">
  <div class="content">
    <div class="number">401</div>
    <p class="text">Unauthorized</p>
    <br />
    <p class="text">I’m sorry. I know who you are.</p>
    <p class="text">But you just don’t have permission to access this resource.</p>
    <br />
    <br />
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="goBack()"
    >
      Go back
    </button>
  </div>
</div>
