<div
  class="drop-zone"
  [ngClass]="{'dragging': dragging, 'readonly': readonly}"
  (dragover)="handleDragover()"
  (dragenter)="handleDragEnter()"
  (dragleave)="handleDragLeave()"
  (drop)="handleDrop($event)"
>
  <ng-container *ngFor="let item of value; index as index">
    <div class="file-container uploaded-item">
      <ng-container [ngSwitch]="item.mimetype.split('/')[0]">
        <ng-container *ngSwitchCase="'video'">
          <video
            autoplay
            loop
            controls
            [muted]="'muted'"
          >
            <source
              *ngIf="item.path"
              [src]="apiEndpoint + '/' + item.path"
              [type]="item.mimetype"
            >
            <source
              *ngIf="!item.path"
              [blob]="item.file"
              [type]="item.mimetype"
            >
            Your browser does not support the video tag.
          </video>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <img
            *ngIf="item.path"
            [src]="apiEndpoint + '/' + item.path"
            alt="uploaded image"
          />
          <img
            *ngIf="!item.path"
            [blob]="item.file"
            alt="uploaded image"
          />
        </ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </ng-container>
      <div class="handler">
        <div class="tag text-truncate text-center">
          {{ item.name }}
        </div>
        <button
          *ngIf="!readonly"
          mat-button
          type="button"
          class="remove-btn"
          (click)="remove(index)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <!-- <mat-progress-bar
          mode="buffer"
          [color]="'primary'"
          [value]="70"
          [bufferValue]="100"
        >
        </mat-progress-bar> -->
      </div>
    </div>
  </ng-container>
  <label
    *ngIf="!(value?.length && !multiple)"
    class="file-container empty-placeholder"
  >
    <mat-icon>add</mat-icon>
    <input
      type="file"
      [multiple]="multiple"
      [accept]="acceptableExt"
      (change)="handleInputChange($event)"
    >
  </label>
</div>
