@use "colors";

:host {
  --border-color: #{colors.$control-border};

  display: block;

  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    --border-color: #{colors.$danger};
  }
}

mat-icon {
  height: 1em;
  width: 1em;
  font-size: inherit;
  line-height: normal;
}

.drop-zone {
  --item-size: 100px;

  border: 1px solid var(--border-color);
  border-radius: var(--standard-space);
  background: white;
  padding: var(--standard-space);
  display: grid;
  gap: var(--standard-space);
  grid-template-columns: repeat(auto-fit, minmax(var(--item-size), min-content));

  &.dragging {
    border-color: var(--active-color);
  }

  &.hungry {
    cursor: pointer;
  }

  .file-container {
    width: var(--item-size);
    height: var(--item-size);
    border-radius: var(--standard-space);
    overflow: hidden;
    position: relative;
  }
}

.uploaded-item {
  .handler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .remove-btn {
    border: none;
    background-color: #111;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  mat-progress-bar {
    border-radius: 3px;
    height: 6px;
  }
}

.empty-placeholder {
  color: rgba(0, 0, 0, 0.6);
  border: 1px dashed currentColor;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:is(:focus, :hover, :focus-within) {
    border-color: colors.$accent;
  }

  input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0;
  }
}

/* File Uploader Styles  */

.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 300px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
  position: relative;
  width: 300px;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
}

.dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.dot-default {
  background-color: gray;
}

.dot-success {
  background-color: green;
}

.dot-warning {
  background-color: orange;
}

.dot-danger {
  background-color: red;
}

.tag {
  font-size: 10px;
  color: white;
  border-radius: 4px;
  background-color: gray;
  padding: 2px 4px;
  line-height: normal;
}
