<form
  *ngIf="form"
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field>
    <mat-label>
      Coupon name
    </mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      formControlName="name"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Type
    </mat-label>
    <mat-select
      formControlName="type"
      name="type"
      required
    >
      <mat-option
        *ngFor="let item of (couponTypes$ | async)"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Value
    </mat-label>
    <input
      matInput
      type="number"
      placeholder="Enter value"
      formControlName="value"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Category
    </mat-label>
    <mat-select
      formControlName="categoryId"
      name="type"
      required
    >
      <mat-option
        *ngFor="let item of (categories$ | async)"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Start date
    </mat-label>
    <input
      matInput
      type="datetime-local"
      placeholder="Ex. Pizza"
      formControlName="startDate"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      End date
    </mat-label>
    <input
      matInput
      type="datetime-local"
      placeholder="Ex. Pizza"
      formControlName="endDate"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Quantity
    </mat-label>
    <input
      matInput
      type="number"
      placeholder="Enter quantity"
      formControlName="quantity"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Minimum order value
    </mat-label>
    <input
      matInput
      type="number"
      placeholder="Enter value"
      formControlName="minimumOrderValue"
    >
  </mat-form-field>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
