<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">
        Forgot password
      </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="auth-wrapper p-0">
        <h3 class="mb-4 text-center">
          Enter your email to reset your password
        </h3>
        <form
          spellcheck="false"
          autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
        >
          <ui-input
            placeholder="Username or email"
            name="email"
            class="mb-3"
            formControlName="email"
          >
          </ui-input>
          <div class="mb-3">
            <button
              type="submit"
              class="form-control btn btn-primary submit px-3"
            >
              Reset password
            </button>
          </div>
          <div>
            <a [routerLink]="['/guest/sign-in']">
              <i
                class="fa fa-long-arrow-left"
                aria-hidden="true"
              ></i>
              Back to login
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
