$primary: #3f4355;
$hight-light: #69c0ff;
$control-border: #d8d9e0;
$secondary: #cecece;
$primary-dark: #06132c;
$danger: #f44336;
$light: #f7faff;
$accent: #1890ff;
$disable: #eaecf5;
$grey: #f8f8f8;
$dark-green: #13a8a8;
$yellow: #faad14;
$green: #11af25;
$dark-yellow: #d46b08;
$border-grey: #f3f6f9;
