$light-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
$standard-distance: 20px;

@mixin box-shadow($shadow: $light-shadow) {
  box-shadow: $shadow;
}

@mixin pseudo-block($width, $height, $content: "") {
  content: $content;
  width: $width;
  height: $height;
  display: inline-block;
}

@mixin flex-horizontal-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-grow-scrollable {
  flex: 1 0 auto;
  overflow-y: auto;
  height: 0px;
}

@mixin truncate($width: 250px) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@mixin flex-list($column-number: 4, $gap: $standard-distance) {
  @include flex-gap($gap);
  display: flex;
  flex-wrap: wrap;

  & > * {
    width: calc(100% / #{$column-number} - #{$gap});
    flex: 1 0 auto;
  }
}

@mixin grid-list($column-number: 2, $gap: $standard-distance) {
  display: grid;
  grid-template-columns: repeat($column-number, 1fr);
  gap: $gap;
}

@mixin flex-gap($gap) {
  @supports not (gap: $gap) {
    margin: calc(-1 * #{$gap}) 0 0 calc(-1 * #{$gap});
    width: calc(100% + #{$gap});
    & > * {
      margin: $gap 0 0 $gap;
    }
  }

  @supports (gap: $gap) {
    gap: $gap;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
