<form
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      required
      placeholder="Insert name"
      formControlName="name"
    >
  </mat-form-field>
  <ui-media-uploader formControlName="medias"></ui-media-uploader>
  <div class="mt-2">
    <mat-checkbox formControlName="isFeature">Featured</mat-checkbox>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
