<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <form
        *ngIf="form"
        spellcheck="false"
        autocomplete="off"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
      >
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            required
            placeholder="Insert name"
            formControlName="name"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Email
          </mat-label>
          <input
            matInput
            required
            type="email"
            placeholder="Insert value"
            formControlName="email"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Phone number
          </mat-label>
          <input
            matInput
            required
            type="tel"
            placeholder="Insert value"
            formControlName="phone"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Password
          </mat-label>
          <input
            matInput
            required
            type="text"
            placeholder="Insert value"
            formControlName="password"
          >
        </mat-form-field>
        <!-- <ui-media-uploader formControlName="avatar"></ui-media-uploader> -->
        <div class="mt-2">
          <mat-checkbox formControlName="isActive">Active</mat-checkbox>
        </div>
        <div class="mt-3 d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
          >
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <mat-checkbox [(ngModel)]="is2FaEnabled">
          Enable two factor authentication
        </mat-checkbox>
      </div>
      <div *ngIf="is2FaEnabled">
        <div>
          <img
            class="d-block mx-auto"
            [src]="twoFactorImg$ | async | safe:'resourceUrl'"
            alt="2fa"
          />
        </div>
        <div class="d-flex align-items-center">
          <mat-form-field class="d-block flex-grow-1">
            <input
              #otpInputRef
              matInput
              type="number"
              placeholder="Enter otp"
            >
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            class="ml-3 flex-shrink-0"
            type="button"
            (click)="turn2FaOn(otpInputRef.value)"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
