<div class="pagination-container">
  <button
    type="button"
    class="page back"
    (click)="onPrev()"
  >
    <ng-container [ngTemplateOutlet]="caret"></ng-container>
  </button>
  <ng-container
    *ngFor="let item of pageItems$ | async"
    [ngSwitch]="item.type"
  >
    <button
      type="button"
      *ngSwitchCase="'more'"
      class="page more"
    >
      ...
    </button>
    <button
      *ngSwitchDefault
      type="button"
      class="page number"
      [class.active]="item.page === currentPage"
      (click)="selectPage(item.page)"
    >
      {{ item.page }}
    </button>
  </ng-container>
  <button
    type="button"
    class="page next"
    (click)="onNext()"
  >
    <ng-container [ngTemplateOutlet]="caret"></ng-container>
  </button>
  <button
    type="button"
    class="page option"
    (click)="openOptionsBox($event, optionTemplateRef)"
  >
    {{ pageSize }}/Page
    <ng-container [ngTemplateOutlet]="caret"></ng-container>
  </button>
</div>

<ng-template #optionTemplateRef>
  <ul class="menu-box">
    <li *ngFor="let size of sizeOptions">
      <button
        type="button"
        (click)="changSize(size)"
      >{{ size }}</button>
    </li>
  </ul>
</ng-template>


<ng-template #caret>
  <svg
    width="8px"
    height="8px"
    viewBox="0 0 8 8"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>C4185494-AFC5-4B88-8E23-235D0556E911</title>
    <defs>
      <rect
        id="path-1"
        x="0"
        y="0"
        width="1180"
        height="732"
      ></rect>
      <filter
        x="-0.4%"
        y="-0.5%"
        width="100.8%"
        height="101.4%"
        filterUnits="objectBoundingBox"
        id="filter-2"
      >
        <feOffset
          dx="0"
          dy="1"
          in="SourceAlpha"
          result="shadowOffsetOuter1"
        ></feOffset>
        <feGaussianBlur
          stdDeviation="1.5"
          in="shadowOffsetOuter1"
          result="shadowBlurOuter1"
        ></feGaussianBlur>
        <feColorMatrix
          values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0"
          type="matrix"
          in="shadowBlurOuter1"
        ></feColorMatrix>
      </filter>
      <polygon
        id="path-3"
        points="3.8 0.703125 1.56708861 3 3.8 5.296875 3.1164557 6 0.2 3 3.1164557 0"
      ></polygon>
    </defs>
    <g
      id="1.0-Dashboard"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="6.0_Admin_UserMgn_01"
        transform="translate(-1176.000000, -902.000000)"
      >
        <g
          id="Wrapper"
          fill="transparent"
        >
          <rect
            id="■-Shape"
            x="0"
            y="0"
            width="1440"
            height="1153"
          ></rect>
        </g>
        <g
          id="Group"
          transform="translate(240.000000, 210.000000)"
        >
          <g
            id="Shadow"
            fill="transparent"
            fill-opacity="1"
          >
            <use
              filter="url(#filter-2)"
              xlink:href="#path-1"
            ></use>
          </g>
          <g
            id="Backgorund"
            fill="transparent"
          >
            <rect
              id="■-Shape"
              x="0"
              y="0"
              width="1180"
              height="732"
            ></rect>
          </g>
        </g>
        <g
          id="Footer"
          transform="translate(240.000000, 890.000000)"
        >
          <g
            id="Page_First"
            transform="translate(930.000000, 6.000000)"
          >
            <g id="🌗-Background">
              <rect
                id="■-Shape"
                x="0"
                y="0"
                width="20"
                height="20"
                rx="2"
              ></rect>
            </g>
            <g
              id="🌐-Icon"
              transform="translate(8.000000, 7.000000)"
            >
              <mask
                id="mask-4"
                fill="white"
              >
                <use xlink:href="#path-3"></use>
              </mask>
              <g
                id="ic_arr_left"
                fill-rule="nonzero"
              ></g>
              <g
                id="Color"
                mask="url(#mask-4)"
                fill="#A9B5C0"
              >
                <g
                  transform="translate(-2.000000, -1.000000)"
                  id="■-Color"
                >
                  <rect
                    x="0"
                    y="0"
                    width="8"
                    height="8"
                  ></rect>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</ng-template>
