@use "colors";
@use "mixin";


$dark-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);

:host {
  display: block;
  width: fit-content;
  margin-left: auto;
}

.pagination-container {
  @include mixin.flex-gap(8px);

  display: flex;
  flex-wrap: wrap;
}

.page {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: white;
  padding: 6px 14px;
  font-size: 14;

  svg {
    display: inline-block;
  }

  &.active {
    cursor: default;
    color: white;
    background-color: colors.$accent;
    border-color: colors.$accent;
  }

  &:not(.active):hover,
  &:not(.active):focus {
    color: colors.$accent;
    border-color: currentColor;
  }
}

.page.more {
  padding-left: 12px;
  padding-right: 12px;
  border-width: 0;
  cursor: default;
  pointer-events: none;
}

.back,
.next {
  padding-left: 12px;
  padding-right: 12px;
}

.next {
  margin-right: 10px;

  svg {
    transform: rotate(180deg);
  }
}

.page.option {
  padding-right: 15px;

  svg {
    margin-left: 10px;
    transform: rotate(-90deg);
  }
}

.menu-box {
  @include mixin.box-shadow($dark-shadow);
  width: max-content;
  min-width: 120px;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  padding: 5px 0;

  li + li {
    border-top: 1px solid colors.$grey;
  }

  li button,
  li a {
    display: block;
    border: none;
    padding: 10px;
    background-color: transparent;
    color: colors.$primary;
    width: 100%;
    text-align: left;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
      background-color: colors.$light;
      color: colors.$accent;
    }
  }
}
