@use "colors";

$pad-color: white;
$line-color: #111111;
$pencil-color: #aaa;

.button {
  background-color: colors.$accent;
  border: none;
  color: white;
  outline: 0;
  padding: 0 5px;
}

.button + .button {
  margin-left: 5px;
}

.pad {
  width: 100%;
  height: 100%;
  background-color: lighten($pad-color, 15%);
  border-radius: 0px;
  cursor: pointer;
  overflow: visible;

  &,
  & * {
    -ms-touch-action: none;
    touch-action: none;
  }

  .points {
    pointer-events: all;
    -ms-pointer-events: all;
    fill: none;
    stroke: $pencil-color;
    stroke-width: 3;
  }

  g.strokes {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $line-color;
    stroke-linecap: round;
    stroke-linejoin: miter;
    fill: none;
    pointer-events: none;
    -ms-pointer-events: none;
    &[draggable] path {
      -ms-pointer-events: all;
      pointer-events: all;
    }

    path {
      stroke-width: 3;
      animation: redraw-path 0.25s forwards 0s;
    }
  }
}

@keyframes redraw-path {
  0% {
    stroke-dashoffset: 1700;
    stroke-width: 12;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 3;
  }
}
