<svg
  #padRef
  class="pad"
  xmlns="http://www.w3.org/2000/svg"
>
  <polyline
    #strokePointsRef
    class="points"
  />
</svg>
<ng-container *ngIf="!readonly">
  <button
    type="button"
    class="button clear"
    (click)="clear()"
  >
    Clear
  </button>
  <button
    type="button"
    class="button download"
    (click)="download()"
  >
    Download
  </button>
  <!-- <button type="button" class="button fullscreen" (click)="fullscreen()">
    Fullscreen
  </button> -->
</ng-container>
