<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="createOrUpdate()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<div>
  <div>
    <ui-paginator
      [length]="(source$ | async)?.meta?.itemCount"
      (pageChange)="changePage($event)"
    >
    </ui-paginator>
  </div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Image
          </th>
          <th>
            Price
          </th>
          <th>
            Discount price
          </th>
          <th>
            Capacity
          </th>
          <th>
            Featured
          </th>
          <th>
            Category
          </th>
          <th>
            Updated at
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (source$ | async)?.data; trackBy: trackDataTable">
          <td>
            {{ item.name }}
          </td>
          <td>
            <ng-container *ngFor="let mediaFile of item.medias">
              <app-media-viewer [media]="mediaFile"></app-media-viewer>
            </ng-container>
          </td>
          <td>
            {{ item.price }}
          </td>
          <td>
            {{ item.discountPrice }}
          </td>
          <td>
            {{ item.capacity }}
          </td>
          <td>
            {{ item.isFeature }}
          </td>
          <td>
            <ng-container *ngFor="let cat of item.categories; last as isLast">
              {{ cat.name }}
              <ng-container *ngIf="!isLast">, </ng-container>
            </ng-container>
          </td>
          <td [title]="item.updatedAt | date:'short'">
            {{ item.updatedAt | timeAgo }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-icon-button
                [matMenuTriggerFor]="tableMenu"
                [matMenuTriggerData]="{data: item}"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ui-paginator
      [length]="tableData.length"
      (pageChange)="changePage($event)"
    >
    </ui-paginator> -->
  </div>
</div>

<mat-menu #tableMenu="matMenu">
  <ng-template
    matMenuContent
    let-data="data"
  >
    <button
      mat-menu-item
      type="button"
      (click)="edit(data)"
    >
      <mat-icon>visibility</mat-icon>
      <span>Details</span>
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="edit(data)"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="remove(data)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
