<div class="blank-page">
  <div class="content">
    <div class="number">404</div>
    <p class="text">Page not found</p>
    <br />
    <p class="text">This may not mean anything.</p>
    <p class="text">I'm probably working on something that has blown up.</p>
    <br />
    <br />
    <button
      color="primary"
      type="button"
      (click)="goBack()"
    >
      Go back
    </button>
  </div>
</div>
