<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="createOrUpdate()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<div class="filter-bar">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="search"
      placeholder="Search with name"
      [ngModel]="search$ | async"
      (ngModelChange)="search$.next($event)"
    />
  </mat-form-field>
</div>
<div>
  <ui-paginator
    [length]="(source$ | async)?.meta?.itemCount"
    (pageChange)="changePage($event)"
  >
  </ui-paginator>
</div>
<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Avatar
          </th>
          <th>
            Driver name
          </th>
          <th>
            Email
          </th>
          <th>
            Phone number
          </th>
          <th>
            Total orders
          </th>
          <th>
            Updated at
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of (source$ | async)?.data; trackBy: trackDataTable; index as index"
          [@fadeInUpOutDown]="{ value: 'enter', params: { duration: index * 100 + 'ms' } }"
        >
          <td>
            <app-media-viewer [media]="item.avatar"></app-media-viewer>
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            <a href="mailto:{{ item.email }}">
              {{ item.email }}
            </a>
          </td>
          <td>
            <a href="tel:{{ item.phone }}">
              {{ item.phone }}
            </a>
          </td>
          <td>
            {{ item.totalOrders }}
          </td>
          <td [title]="item.updatedAt | date:'short'">
            {{ item.updatedAt | timeAgo }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click)="createOrUpdate(item)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click)="createOrUpdate(item)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                aria-label="See details"
                (click.confirm)="remove(item)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
