<form
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          matInput
          required
          name="firstName"
          type="text"
          placeholder="Insert first name"
          formControlName="firstName"
        >
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input
          matInput
          required
          name="lastName"
          type="text"
          placeholder="Insert last name"
          formControlName="lastName"
        >
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        name="email"
        type="email"
        placeholder="Insert email"
        formControlName="email"
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input
        matInput
        required
        name="phone"
        type="tel"
        placeholder="Insert phone number"
        formControlName="phone"
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        name="defaultPassword"
        type="text"
        placeholder="Insert password"
        formControlName="password"
      >
    </mat-form-field>
  </div>
  <!-- <ui-media-uploader formControlName="avatar"></ui-media-uploader> -->
  <div class="mt-2">
    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
