<form
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div>
    <label>
      <span>
        Email
      </span>
      <span>
        <input
          type="email"
          name="email"
          formControlName="email"
        />
      </span>
    </label>
  </div>
  <div>
    <label>
      <input
        type="checkbox"
        name="emailAsUsername"
      />
      <span>
        Use email address as username
      </span>
    </label>
  </div>
  <div>
    <label>
      <span>
        Password
      </span>
      <span>
        <input
          type="password"
          name="password"
          formControlName="password"
        />
      </span>
    </label>
  </div>
  <div>
    <div>
      <div>
        <label>
          <span>
            First name
          </span>
          <span>
            <input
              type="text"
              name="firstName"
              formControlName="firstName"
            />
          </span>
        </label>
      </div>
      <div>
        <label>
          <span>
            Last name
          </span>
          <span>
            <input
              type="text"
              name="lastName"
              formControlName="lastName"
            />
          </span>
        </label>
      </div>
    </div>
    <div>
      <label>
        <span>
          Phone number
        </span>
        <span>
          <input
            type="tel"
            name="phone"
            formControlName="phone"
          />
        </span>
      </label>
    </div>
  </div>
  <div>
    <button type="submit">
      Create account
    </button>
  </div>
</form>
