<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="createCoupon()"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<div>
  <button (click)="testRaf($event)">testRaf</button>
  <button (click)="increase()">Click me!</button>
  <p>The counter is {{counter}}.</p>
</div>

<pre><code>{{ devices | json }}</code></pre>
<!-- <pre><code>{{ orientation | json }}</code></pre> -->
<button
  mat-button
  (click)="openCamera()"
>
  OPEN CAMERA
</button>
<div>
  <!-- <img *ngFor="let picURL of pics" [src]="picURL" /> -->
</div>

<ui-split-button></ui-split-button>
<div>
  <button
    type="button"
    (click.confirm)="remove()"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</div>
<!-- <div>{{ today | localeDate }}</div> -->

<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Coupon name
          </th>
          <th>
            Type
          </th>
          <th>
            Value
          </th>
          <th>
            Start date
          </th>
          <th>
            End date
          </th>
          <th>
            Category
          </th>
          <th>
            Quantity
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of coupons; trackBy: trackDataTable">
          <td data-name="Coupon name">
            {{ item.name }}
          </td>
          <td data-name="Coupon name">
            {{ item.type }}
          </td>
          <td data-name="Coupon name">
            {{ item.value }}
          </td>
          <td data-name="Coupon name">
            {{ item.startDate }}
          </td>
          <td data-name="Coupon name">
            {{ item.endDate }}
          </td>
          <td data-name="Coupon name">
            {{ item.category?.name }}
          </td>
          <td data-name="Coupon name">
            {{ item.quantity }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-icon-button
                [matMenuTriggerFor]="tableMenu"
                [matMenuTriggerData]="{data: item}"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ui-paginator
      [length]="coupons.length"
      (pageChange)="changePage($event)"
    ></ui-paginator>
  </div>
</div>

<mat-menu #tableMenu="matMenu">
  <ng-template
    matMenuContent
    let-data="data"
  >
    <button
      mat-menu-item
      type="button"
      (click)="editCoupon(data)"
    >
      <mat-icon>visibility</mat-icon>
      <span>Details</span>
    </button>
    <button
      mat-menu-item
      type="button"
      (click)="editCoupon(data)"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      type="button"
      disabled
      (click)="editCoupon(data)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
