:host {
  display: block;
  padding: var(--body-padding);
  width: 100%;
  height: 100%;
}

:host-context(.dark) :host {
  --bg-opacity: 1;
  background-color: #293145;
  background-color: rgba(41, 49, 69, var(--bg-opacity));
}

.content {
  --bg-opacity: 1;

  padding: var(--standard-space);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: #f1f5f8;
  background-color: rgba(241, 245, 248, var(--bg-opacity));
  overflow: hidden auto;
}

mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  border-right: none;
  background: transparent;
  border-radius: 10px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

ui-progress-ring {
  position: fixed;
  top: -40px;
  z-index: 1024;
  left: 50%;
  transform: translateX(-50%);
  transition: top 300ms linear;
}

.profile-popover {
  --sb-menu-background: hsl(220 15% 24%);
  --sb-menu-shadow: hsl(0 0% 0% / 0.25);
  --sb-foreground: hsl(0 0% 80%);
  --sb-foreground-active: hsl(0 0% 94%);
  --sb-menu-active-background: hsl(205 100% 35%);
  --tab-activeForeground: #ffffff;
  --sideBarTitle-foreground: #bbbbbb;
  --sb-separator-strong: rgb(80, 86, 98);

  background-color: var(--sb-menu-background);
  border-radius: 2px;
  box-shadow: 0 2px 4px var(--sb-menu-shadow, #0008), 0 4px 12px var(--sb-menu-shadow, #0008);
  width: 230px;
  min-width: 140px;
  user-select: none;
  color: var(--sideBarTitle-foreground);

  .items-center {
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex {
    display: flex;
  }

  .text-base {
    font-size: 1rem;
  }

  .text-primary {
    color: var(--tab-activeForeground);
  }

  .w-20 {
    width: 5rem;
  }
  
  .h-20 {
    height: 5rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  ul {
    display: block;
    margin: 0;
    padding: 8px 0;
    position: relative;
    list-style: none;

    li {
      display: block;
      margin: 0;
      padding: 0;
    }

    li.separator {
      cursor: default;
      display: block;
      padding: 8px 0;

      &::before {
        border-top: 1px solid var(--sb-separator-strong);
        content: "";
        display: block;
      }
    }

    .menu-button {
      border: none;
      align-items: center;
      background-color: initial;
      color: var(--sb-foreground);
      cursor: pointer;
      display: flex;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.2307;
      min-height: 30px;
      padding: 6px 16px;
      text-align: left;
      text-decoration: none;
      width: 100%;

      &:hover {
        background-color: var(--sb-menu-active-background);
        color: var(--sb-foreground-active);
      }
    }

    .menu-button svg {
      fill: currentColor;
      flex: none;
      font-size: 16px;
      margin-inline-end: 8px;
    }
  }
}
