<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">
        Sign In
      </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="auth-wrapper p-0">
        <h3 class="mb-4 text-center">
          A few more clicks to sign in to your account
        </h3>
        <form
          spellcheck="false"
          autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
        >
          <ui-input
            placeholder="Username or email"
            name="email"
            class="mb-3"
            formControlName="username"
          >
          </ui-input>
          <ui-input
            type="password"
            placeholder="Password"
            name="password"
            class="mb-3"
            formControlName="password"
          >
          </ui-input>
          <div class="mb-3">
            <button
              type="submit"
              class="form-control btn btn-primary submit px-3"
            >
              Sign in
            </button>
          </div>
          <div class="d-md-flex mb-3">
            <div class="w-50">
              <label class="checkbox-wrap checkbox-primary">
                Remember Me
                <input
                  type="checkbox"
                  name="rememberMe"
                  formControlName="rememberMe"
                >
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="w-50 text-md-end">
              <a [routerLink]="['/guest/forgot-password']">
                Forgot Password
              </a>
            </div>
          </div>
        </form>
        <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
        <div class="social d-flex text-center">
          <a
            href="#"
            class="px-2 py-2 me-1 rounded"
          >
            <span class="ion-logo-facebook mr-2"></span>
            Facebook
          </a>
          <a
            href="#"
            class="px-2 py-2 ms-1 rounded"
          >
            <span class="ion-logo-twitter mr-2"></span>
            Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
