$standard-space: 20px;

:host {
  display: block;
  height: 100%;
}

.sidebar {
  width: max-content;
  min-width: 250px;
  height: 100%;
  background: #1b1b1b;
  transition: left 0.4s ease;
}

.sidebar {
  .menu,
  .submenu {
    background: #1b1b1b;
    height: 100%;
    width: 100%;

    li:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .side-menu {
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: $standard-space;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;

    &.activated {
      color: cyan;
      background: #1e1e1e;
      border-left-color: cyan;
    }
    &:hover {
      background: #1e1e1e;
    }
  }

  .submenu {
    display: none;
    padding-left: $standard-space;

    .side-menu {
      line-height: 42px;
      font-size: 17px;
      color: #e6e6e6;
      padding-left: $standard-space;

      &:hover {
        color: cyan;
        background: #1e1e1e;
      }
    }
  }

  .has-submenu.activated + ul.submenu {
    display: block;
  }
}
