<nav class="sidebar">
  <ul class="list-unstyled menu mb-0">
    <li *ngFor="let item of menuItems">
      <a
        *ngIf="!item.children"
        class="side-menu"
        [routerLink]="[item.routerLink]"
        [routerLinkActive]="'activated'"
        [routerLinkActiveOptions]="{
          matrixParams: 'ignored',
          queryParams: 'ignored',
          paths: 'exact',
          fragment: 'ignored'
        }"
      >
        {{ item.name }}
      </a>
      <ng-container *ngIf="item.children">
        <a
          role="button"
          href="javascript:void(0)"
          class="side-menu has-submenu"
          [routerLink]="[item.routerLink]"
          [routerLinkActive]="'activated'"
        >
          {{ item.name }}
        </a>
        <ul class="submenu list-unstyled mb-0">
          <li *ngFor="let submenu of item.children">
            <a
            class="side-menu"
              [routerLink]="[submenu.routerLink]"
              [routerLinkActive]="'activated'"
              [routerLinkActiveOptions]="{
              matrixParams: 'ignored',
              queryParams: 'ignored',
              paths: 'subset',
              fragment: 'ignored'
            }"
            >
              {{ submenu.name }}
            </a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</nav>
