<div class="row h-100">
  <div class="col-lg-6 col-md-12 col-12">
    <div
      *ngIf="stats$ | async as stats"
      class="row"
    >
      <app-stat-card
        class="col-sm-6 col-xs-12 col-12 mb-4"
        *ngFor="let stat of stats"
        [stat]="stat"
      >
      </app-stat-card>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-12">
    <app-earning-chart
      *ngIf="earningData$ | async as earningData"
      [countryData]="earningData"
    >
    </app-earning-chart>
  </div>
</div>
<div class="py-3"></div>
<div class="row">
  <div class="col-lg-6 col-md-12 col-12 mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0">
        Recent orders
      </h3>
      <a
        mat-button
        class="px-0"
        [routerLink]="['/', 'order']"
      >
        See all orders
      </a>
    </div>
    <table
      mat-table
      [dataSource]="latestOrders$ | async"
      class="w-100 mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Order ID
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="recipientName">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Customer
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.recipientName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Order date
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.updatedAt }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <div class="d-flex justify-content-end">
            <button
              mat-icon-button
              aria-label="Edit order"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedOrderColumns"
      >
      </tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedOrderColumns;"
      >
      </tr>
    </table>
  </div>
  <div class="col-lg-6 col-md-12 col-12 mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0">
        Recent invoices
      </h3>
      <a
        mat-button
        class="px-0"
        [routerLink]="['/', 'order']"
      >
        See all invoices
      </a>
    </div>
    <table
      mat-table
      [dataSource]="latestOrders$ | async"
      class="w-100 mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Order ID
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="recipientName">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Customer
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.recipientName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Order date
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{ element.updatedAt }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <div class="d-flex justify-content-end">
            <button
              mat-icon-button
              aria-label="Edit order"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedOrderColumns"
      >
      </tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedOrderColumns;"
      >
      </tr>
    </table>
  </div>
</div>
