:host {
  display: block;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.move {
  animation: move ease-out 1s infinite;
}

.time {
  font-size: 56px;
  line-height: 41px;
  height: 55px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: fit-content;
  font-weight: 900;
  user-select: none;
}

.time > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 7px 0;
  overflow: hidden;
  transition: all 0.35s ease-out;
}

.minutes::before,
.seconds::before {
  content: ":";
  width: 0.32em;
  margin-top: -0.086em;
  text-align: center;
  overflow: hidden;
}

.time .number {
  width: 0.64em;
  text-align: center;
}
