<div
  class="time"
  ampm="false"
  location="Asia/Ho_Chi_Minh"
  title="Current Time in Vietnam, Da Nang"
  style="display:flex"
>
  <div class="hours">
    <div class="first movable">
      <div class="number">0</div>
      <div class="number">0</div>
    </div>
    <div class="second movable">
      <div class="number">0</div>
      <div class="number">0</div>
    </div>
  </div>
  <div class="minutes">
    <div class="first movable">
      <div class="number">0</div>
      <div class="number">0</div>
    </div>
    <div class="second movable">
      <div class="number">0</div>
      <div class="number">0</div>
    </div>
  </div>
  <div class="seconds">
    <div class="first movable">
      <div class="current number">0</div>
      <div class="next number">0</div>
    </div>
    <div class="second move">
      <div class="current number">0</div>
      <div class="next number">0</div>
    </div>
  </div>
</div>
