<div>
  <div class="data-table-container">
    <table class="table grid-table">
      <thead>
        <tr>
          <th>
            Status
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (source$ | async).data; trackBy: trackDataTable">
          <td data-name="Coupon name">
            {{ item.name }}
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                mat-menu-item
                type="button"
                (click)="editOrderStatus(item)"
              >
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ui-paginator
      [length]="(source$ | async)?.meta?.itemCount"
      (pageChange)="changePage($event)"
    >
    </ui-paginator>
  </div>
</div>
