<form
  spellcheck="false"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      required
      placeholder="Insert name"
      formControlName="name"
    >
  </mat-form-field>
  <ui-media-uploader
    multiple
    formControlName="medias"
  >
  </ui-media-uploader>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input
      matInput
      required
      type="number"
      placeholder="Insert price"
      formControlName="price"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount price</mat-label>
    <input
      matInput
      type="number"
      placeholder="Insert discount price"
      formControlName="discountPrice"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Currency unit
    </mat-label>
    <mat-select
      required
      name="category"
      placeholder="Select category"
      formControlName="currencyId"
    >
      <mat-option
        *ngFor="let item of (currencies$ | async)"
        [value]="item.code"
      >
        <span [title]="item.name">
          {{ item.code }} - {{ item.symbol }}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Insert description"
      formControlName="description"
    >
  </textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input
      matInput
      required
      type="number"
      placeholder="Enter the stock of product"
      formControlName="stock"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input
      matInput
      required
      type="number"
      placeholder="Insert Quantity of this product default unit is gramme (g)"
      formControlName="quantity"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit</mat-label>
    <input
      matInput
      required
      placeholder="Enter the unit of product (ex: m, L, ml, Kg, m²)"
      formControlName="unit"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Category
    </mat-label>
    <mat-select
      required
      multiple
      name="category"
      placeholder="Select category"
      formControlName="categoryIds"
    >
      <mat-option
        *ngFor="let item of (categories$ | async)"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="mt-2">
    <div class="row">
      <div class="col-4">
        <mat-checkbox formControlName="isFeature">
          Featured
        </mat-checkbox>
      </div>
      <div class="col-4">
        <mat-checkbox formControlName="isMostPopular">
          Most popular
        </mat-checkbox>
      </div>
      <div class="col-4">
        <mat-checkbox formControlName="isTopDeal">
          Top deal
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <button
      mat-stroked-button
      type="button"
      color="primary"
      class="me-2 me-lg-3"
      (click)="close()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="button"
      color="primary"
      class="me-2 me-lg-3"
      (click)="createCategory()"
    >
      Create category
    </button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="form.invalid && form.submitted"
    >
      Save
    </button>
  </div>
</form>
