:host {
  display: block;
  width: min(90vw, 500px);
  max-height: 80vh;
  overflow: hidden auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

form {
  width: min(100%, 800px);
  margin: 0 auto;
}

mat-form-field,
mat-checkbox {
  display: block;
}
