<div
  #contentRef
  [@slideContent]="animationState"
  (@slideContent.start)="onAnimationStart($event)"
  (@slideContent.done)="onAnimationDone($event)"
  class="content"
>
  <ng-content></ng-content>
</div>

<!-- <button
  type="button"
  class="closed-button"
  (click)="close()"
>
  <ui-svg-parser
    [src]="'/assets/icons/close.svg'"
    height="24px"
    width="24px"
  >
  </ui-svg-parser>
</button> -->
