@use "zIndexes";

:host {
  position: fixed;
  z-index: zIndexes.$overlay;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.global {
    background-color: var(--overlay-alpha-80);
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.flexible {
    background-color: transparent;
  }
}

.content {
  width: fit-content;
  height: fit-content;
}

.closed-button {
  border: none;
  border-radius: 200px;
  padding: 10px;
}
