<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">
        Sign In
      </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="auth-wrapper p-0">
        <h3 class="mb-4 text-center">
          Enter your OTP to sign in to your account
        </h3>
        <form
          spellcheck="false"
          autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="submitForm()"
        >
          <ui-otp
            class="mb-3"
            formControlName="otp"
          >
          </ui-otp>
          <div>
            <button
              type="submit"
              class="form-control btn btn-primary submit px-3"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
