<div
  #splitButton
  class="gui-split-button"
>
  <button type="button">Squash</button>
  <span
    #popupButton
    class="gui-popup-button"
    aria-haspopup="true"
    aria-expanded="false"
    role="button"
    tabindex="0"
    title="Open for more actions"
  >
    <svg
      aria-hidden="true"
      viewBox="0 0 20 20"
    >
      <path
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
      />
    </svg>
    <ul class="gui-popup">
      <li>
        <button>
          Create a merge commit
        </button>
      </li>
      <li>
        <button>
          Rebase
        </button>
      </li>
    </ul>
  </span>
</div>
